@import "./scss/reset";
@import "./components/ProductCard/ProductCard.module.scss";
@import "./components/Header/Header.module.scss";

body {
  background-color: $darkBlue;
  width: 100vw;
  height: auto;
}
